<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>어서오시계얼른가시계</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    올래말래
    <a href="/new-entry" class="btn btn-primary pull-right">
      후기남기기
    </a>
  </h1>
